<template>
<div>
<section>
<div class="card-body col-12">
    <div class="container">
    <div class="row">
    <div class="col-10 offset-1">
    <div class="row shake animated" style="background:rgb(244, 249, 251);border: 1px solid #e7e6e6;padding:10px;">
    <div class="col-12 col-sm-3 col-md-3 col-lg-2">
      <img style="max-width:140px;width:100%;height:auto;display:block;margin:0 auto;" src="/img/bannergm.svg" alt="gastos médicos" />
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-6 pt-3">
    <p style="font-size:20px;font-weight:700;margin-bottom: 0.2rem;">Obtén tu Seguro de Gastos Médicos al Mejor Precio</p>
  </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 pt-3">
      <a href="https://gnpgastosmedicos.mx/" target="_blank" rel="nofollow" class="btn btn-block btn-success mt-2 fff" style="line-height:2;font-weight:bold;font-size:20px;font-family:sans-serif;">Cotizar Gratis&nbsp;&nbsp; <svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</section>
</div>
</template>

<style>
  .fff{color:#fff!important;}
  .animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}

@keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}
  .shake {-webkit-animation-name: shake;animation-name: shake;}
</style>