<template>
    <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6 float-left pb-3">
         <textAseguradora></textAseguradora>    
    </div>  
</template>

<script>

 import textAseguradora from "~/components/content/text-aseguradora.vue"

export default {
   textAseguradora 
}
</script>