<template>
    <div class="container pCero mt-2">
    <div class="card shadow-cards">
        <div class="card-body">
            <div class="container">
                <div class="media">
                <!--  <img class="mr-2" src="https://ahorraseguros.mx/landings/img/common/car-tittle.svg" height="50" alt="Seguro de auto"/> -->
                    <div class="media-body">
                        <span class="display-5 mt-0 font-weight-500">
                            ¿Quieres cotizar otro seguro?
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 align-self-end">
                        <div class="card border-0">
                            <img class="card-img-top px-2 px-sm-2 px-md-4 px-lg-3 px-xl-4 modal-icon-leo" src="https://ahorraseguros.mx/landings/img/common/modal/vida.svg" alt="Seguro de vida">
                            <div class="card-body px-0">
                                <p class="card-text text-center">
                                    Seguro de vida
                                </p>
                                <button type="button" class="btn btn-primary btn-block font-weight-bold" data-toggle="modal" data-target="#modal-vida">Cotiza ahora
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 align-self-end">
                        <div class="card border-0">
                            <img class="card-img-top px-2 px-sm-2 px-md-4 px-lg-3 px-xl-4 modal-icon-leo" src="https://ahorraseguros.mx/landings/img/common/modal/hogar.svg" alt="Seguro de vida">
                            <div class="card-body px-0">
                                <p class="card-text text-center">
                                    Seguro de hogar
                                </p>
                                <button type="button" class="btn btn-primary btn-block font-weight-bold" data-toggle="modal" data-target="#modal-hogar">Cotiza ahora
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none"></div>
                    <div class="col-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 align-self-end">
                        <div class="card border-0">
                            <img class="card-img-top px-2 px-sm-2 px-md-4 px-lg-3 px-xl-4 modal-icon-leo" src="https://ahorraseguros.mx/landings/img/common/modal/gasto.svg" alt="Seguro de vida">
                            <div class="card-body px-0">
                                <p class="card-text text-center">
                                    Gastos médicos
                                </p>
                                <button type="button" class="btn btn-primary btn-block font-weight-bold" data-toggle="modal" data-target="#modal-salud">Cotiza ahora
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 align-self-end">
                        <div class="card border-0">
                            <img class="card-img-top px-2 px-sm-2 px-md-4 px-lg-3 px-xl-4 modal-icon-leo" src="https://ahorraseguros.mx/landings/img/common/modal/pyme.svg" alt="Seguro de vida">
                            <div class="card-body px-0">
                                <p class="card-text text-center">
                                    Seguro de PyMEs
                                </p>
                                <button type="button" class="btn btn-primary btn-block font-weight-bold" data-toggle="modal" data-target="#modal-pyme">Cotiza ahora
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>