<template>
  <div id="botonTop">
    <!-- <Header /> -->
    <Modal />
    <Btn />
    <nuxt />
    <bannerGM/>
    <!--<footers />
    <heightfood/>-->
  </div>
</template>
<script>
//import Header from "~/components/common/HeaderComponent.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import bannerGM from "~/components/utilities/seguro-gm.vue";
// import otroseguro from "~/components/common/otroseguro.vue";
export default {
  components: {
  //Header,
    Modal,
    Btn,
    bannerGM,
    // otroseguro,
  
  }
};
</script>
