<template>
  <div>
    <!-- <seguroObligarorio-component></seguroObligarorio-component> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 bg-elpotosi px-0">
              <header-component></header-component>
        </div>
      </div>
    </div>
  
    <div class="container-fluid p-0 m-0 bg-gray">
       <div class="p-0 m-0 background-color-landing-elpotosi">
                <div class="background-ciudad">
                <div class="container background-landing-auto">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 float-left pb-1 px-0 mNegativo">
                              <textAseguradora></textAseguradora>
                              <cardAseguradora></cardAseguradora>
                            </div>  
                            <newAutosForm/>
                        </div>     
                    </div>
                </div>
            </div>
             </div>        
  </div>
   <promoCard></promoCard>
   <contenido></contenido>
  </div>
</template>
<script>
//import seguroObligarorioComponent from "~/components/common/alert-seguro-obligatorio2019.vue"
import headerComponent from "~/components/common/headerComponent.vue"
import cardContent from "~/components/common/card-content.vue"
import newAutosForm from "~/components/forms/newAutosForm.vue"
import textAseguradora from "~/components/content/text-aseguradora.vue"
import cardAseguradora from "~/components/content/card-aseguradora.vue"
import promoCard from  "~/components/common/promo-card.vue"
import contenido from  "~/components/content/contenido.vue"


//import Contenido from "~/components/content/contenido.vue";
export default {
  layout: "index",
  created: function() {
    //POR ASEGURADORA
    this.$store.state.formData.aseguradora = "ELPOTOSI";
    this.$store.state.config.aseguradora = "El Potosi";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "88801534";
    this.$store.state.config.telefonoBtn = "5588801534";
    this.$store.state.config.grupoCallback = 'VN ELPOTOSI';
    this.$store.state.config.from = "ELPOTOSI";
    this.$store.state.config.idPagina = 1453;
    this.$store.state.config.id_aseguradora = 9;
    this.$store.state.config.idAseguradoraCRM = 33;
    //this.$store.state.config.idCampana = 70;
    //this.$store.state.config.desc = "30% de descuento";
    //this.$store.state.config.msi = "+ 6  MSI";
    //this.$store.state.config.cardContent =  "30% de descuento";
  },
  components: {
    //seguroObligarorioComponent,
     headerComponent,
     textAseguradora,
     cardAseguradora,
     promoCard,
     contenido,
    newAutosForm
  },
  head() {
    return {
      title: "EL POTOSI",
      meta: [ 
      /*  {
          hid: "keywords",
          name: "keywords",
          content:
            "EL POTOSI, Seguros EL POTOSI, EL POTOSI Seguros, EL POTOSI Seguros Autos, Seguros de autos EL POTOSI, Seguros EL POTOSI Autos, Seguros para autos EL POTOSI, Seguros EL POTOSI en México, Seguros EL POTOSI DF, EL POTOSI Seguros México, EL POTOSI Seguros CDMX, Seguro Familiar, Seguro de Vida, Seguro de Gastos Médicos, Seguro de Hogar, Seguro de pyme"
        },*/
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza Seguros de auto elpotosi en AhorraSeguros.mx."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "@GlousMx"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://elpotosi.ahorraseguros.mx/"
        }
      ]
    };
  }
};
</script>
