<template>
<!--titulo y calificacion-->
<div>
  <h1 class="text-white abajodeBreadcrumbs seguro-auto"><strong>
{{this.$store.state.config.aseguradora }} Seguros de autos  </strong></h1>
<h2 class="text-white abajodeBreadcrumbs2 d-none-landing p-2">¡Cotiza el Mejor
Precio en 10 Segundos!</h2>                                           
  </div>          
</template>